@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=EB+Garamond&family=Fasthand&family=Montserrat:wght@400;700&family=Pacifico&family=Roboto+Slab:wght@100;300;400;700&display=swap');
* {
    font-family: 'EB Garamond', serif;
    color: rgb(47, 6, 85);
}

h1 {
    font-size: 40px;
    color: rgb(112, 112, 221);
    text-align: center;
    height: 20px;
    width: auto;
}

#hesapMak {
    margin: 70px auto;
    height: auto;
    width: 370px;
    background-color: rgb(140, 235, 181);
    border: 2px solid;
    border-radius: 30px;
    padding: 10px;
    border-color: rgb(112, 112, 221);
}

#gosterge {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

#screen {
    border: 2px solid;
    padding: 7px;
    border-radius: 30px;
    width: 80%;
    text-align: right;
    word-wrap: break-word;
    font-size: 35px;
    border-color: rgb(112, 112, 221);
}

#buttonlar {
    text-align: center;
    margin-top: 15px;
}

button {
    font-size: 18px;
    border-color: rgb(112, 112, 221);
    width: 80px;
    height: 50px;
    margin: 3px;
    border-radius: 80px;
    background-color: beige;
    outline: none;
}